<!-- Dashboard Card -->
<section id="advertisers" class="advertisers-service-sec pt-5 pb-5">
  <div style="display: flex; justify-content: flex-end; margin-right: 15px;">
  </div>
  <div class="form-outline" style="display: flex;">
    <input type="search" [(ngModel)]="searchText" placeholder="Search Here" aria-label="Search" class="search-bar" />
    <img src="assets/img/night-mode.png" style="height: 20px; width: 20px; margin-left: 520px; cursor: pointer;"
      (click)="onToggleMode()">
  </div>
  <div class="container">
    <div class="row">
      <div class="section-header text-center">
        <h2 class="fw-bold fs-1">
          Cafe
          <span class="b-class-secondary">Management </span>Portal
        </h2>
        <p class="sec-icon"><i class="fa-solid fa-gear"></i></p>
      </div>
    </div>
    <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center" infiniteScroll
      [infiniteScrollDistance]="2" (scrolled)="onScroll()">
      <ng-container *ngFor="let dash of dashboardData | search: searchText">
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-chart-line"></i>
            </div>
            <h3>{{dash?.name}}</h3>
            <ng-container *ngFor="let prod of dash?.products">
              <h3>{{prod?.name}}</h3>
              <p>{{prod?.description}}</p>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <!-- <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-arrows-down-to-people"></i>
          </div>
          <h3>Advanced Targeting solution</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-globe"></i>
          </div>
          <h3>Global Reach & Quality Traffic</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-money-check-dollar"></i>
          </div>
          <h3>Flexible pricing models</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-regular fa-circle-check"></i>
          </div>
          <h3>Advanced optimization technologies & methodologies</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-people-group"></i>
          </div>
          <h3>Dedicated account management team</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- Dashboard Card End -->
